html {
  height: 100%;
}


body {
  padding: 1.5rem;
  color: #434C55;
  height: calc(100% - 3rem);
}

.ContentWrapper {
  margin: 0 auto;
  padding-top: 20rem;
}

.Name {
  margin-top: 0;
  margin-bottom: 0;
}

.Link {
  color: #434C55;
  text-decoration: none;
  display: inline-block;
}

.Footer-link {
  margin-right: 1.5rem;
}

.Email {
  unicode-bidi:bidi-override;
  direction:rtl;
}


@media only screen  and (min-device-width: 320px)  and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

  .ContentWrapper {
    margin: 0 auto;
    padding-top: 5rem;
  }
  .Footer-link {
    display: block;
    margin: 0 0 .75rem;
  }
}
